.cookie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    height: 18rem;
    width: 18rem;
    margin: 0 auto;
}

.cookie > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: 
  drop-shadow(0 12px 16px rgba(0, 0, 0, 0.28))
  drop-shadow(0 0 25px rgba(255, 215, 60, 0.19))
  drop-shadow(0 0 45px rgba(255, 200, 40, 0.57));
    animation: float 2.5s ease-in-out infinite;
    transition: var(--transition)
    
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* goes up */
  }
  100% {
    transform: translateY(0); /* comes back down */
  }
}

.cookie > img:hover {
  transform: translateY(-12px) scale(1.05);
  cursor: pointer;
}

.cookie > img.opened {
  animation: reveal 0.35s ease-out forwards;
}

@keyframes reveal {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

