.header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 1rem auto;
}

.heart {
    font-size: 3rem;
    pointer-events: none;
    filter: drop-shadow(0 12px 16px rgba(10, 6, 1, 0.35));
}

.h1 {
    font-size: 2.7rem;
    color: #1a1a1a;
    margin-top: 0.5rem;
    margin-bottom: 10px;
    transition: var(--transition);
    cursor: pointer;
}

.h5 {
    font-size: 1rem;
    color: #1a1a1a;
    transition: var(--transition);
    pointer-events: none;
}

/* MEDIA QUERIES */
/* Biggies */
@media (max-width: 1700px) {
    .header-div {
        margin: 2.5rem auto 1.5rem auto;
    }
    .heart {
        font-size: 4rem;
    }
    .h1{
        font-size: 3rem;
    }   
    .h5 {
        font-size: 1.5rem;
        font-weight: lighter;
    } 
}

/* Tablet */
@media (max-width: 768px) {
    .header-div {
        margin: 2rem auto 1rem auto;
    }
    .heart {
        font-size: 3.2rem;
    }
    .h1{
        font-size: 2.8rem;
    }   
    .h5 {
        font-size: 1.5rem;
        font-weight: lighter;
    }
}

/* Mobile */
@media (max-width: 475px) {
    .header-div {
        margin: 2rem auto 1rem auto;
    }
    .heart {
        font-size: 3.2rem;
    }
    .h1{
        font-size: 2.6rem;
    }   
    .h5 {
        font-size: 1.2rem;
        font-weight: lighter;
    }
}

/* Shittier Mobiles */
@media (max-width: 260px) {
    .header-div {
        margin: 2rem auto 1rem auto;
    }
    .heart {
        font-size: 3.2rem;
    }
    .h1{
        font-size: 2rem;
    }   
    .h5 {
        font-size: 0.8rem;
        font-weight: lighter;
    }
}